table {
    border: .5px solid black;
}
td:hover {
    background-color: yellow;
    color: gray;
}
tr, th {
    background-color: silver;
    color: cornsilk
}
tr, td{
    background-color: green;
    color: white;
}